
/******STYLE PAR DÉFAUT*******/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

body {
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	max-width: 1140px;
	margin:auto;
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li,
nav li img{
	padding: 0 10px;
	font-size: 1.2em;
}

li a,
li img {
	color: black;
	text-decoration: none;
	height: 20px;
}

li a:hover,
li img:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#contact,
#login {
	width: 50%;
	margin: auto;
}

#contact > *,
#login > * {
	text-align: center;
}

#contact h2,
#login h2 {
	margin-bottom: 20px;
}

#contact form,
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.login-footer {
	margin-top: 30%;
}

.index-footer,
.login-footer {
	font-size: 0.8em;
}
/***** STYLE BUTTONS ******/

.filters {
	width: 50%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	gap: 1em;
	margin-bottom: 50px;
}

.filters button{
	font-family: 'Syne';
	font-weight: 700;
	height: 37px;
	color: #1D6154;
	background-color: white;
	margin : 2em auto ;
	width: auto;
	text-align: center;
	border-radius: 60px ;
	border: 1px solid #1D6154;
	padding-left: 20px;
	padding-right: 20px;
}


.filters button:hover,
.filters button:focus {
	background-color: #1D6154;
	color: white;
}

/******** STYLE PAGE LOGIN ********/

#login h2 {
	margin-top: 150px;
}

#login input[type="submit"] {
	margin-top: 50px;
}

.login {
	display: flex;
	justify-content: center;
	color: black;
}

/********* STYLE EDITION *********/

.edit {
	background-color: black;
	color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}

.modify-button {
	border: none;
	background-color: white;
	margin-left: 10px;
}

.fa-pen-to-square {
	margin-right: 10px;
}

footer {
	max-width: 1140px;
	margin:auto;
}

main {
	max-width: 1140px;
	margin:auto;
}


.edit p {
	text-align: center;
	padding-top: 17px;
}


/***** STYLE GALLERY MODAL *****/

body {
	z-index: 1;
}

#modal1 *,
#modal2 * {
	column-gap: 10px;
	row-gap: 20px;
}

#modal1,
#modal2 {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 3;
	background: rgba(0, 0, 0, 0.8);
}

.gallery-modal,
.add-photo-modal {
	border-radius: 8px;
	background-color: white;
	width: 30%;
	height: auto;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	padding: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

.figure-modal {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	padding: 20px;
}

.fa-xmark {
	display: block;
	text-align: end;
}

.fa-arrow-left {
	display: block;
	text-align: start;
	width: 50%;
}

.gallery-modal input {
	display: flex;
	justify-content: center;
	width: 237px;
	height: 36px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

h3 {
	font-size: 26px;
	display: flex;
	justify-content: center;
	padding: 20px;
}

.figure-modal img {
	min-height: 97px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.border {
	border: 1px solid #b3b3b3;
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: 50px;
}

figcaption {
	position: relative;
}

.figure-modal i {
	position: absolute;
	justify-content: flex-end;
	top: -95px;
	right: 6px;
	display: block;
	background-color: black;
	color: white;
	padding: 4px;
	border-radius: 5px;
	font-size: 10px;
}


/***** STYLE ADD PHOTO MODALE *****/

#img-upload {
	display: none;
}

.new-img-button {
	border: 1px solid #CBD6DC;
	border-radius: 50px;
	background-color: #CBD6DC;
	color: #306685;
	width: 50%;
	margin: auto;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.blue-rectangle {
	display: flex;
	flex-direction: column;
	margin: auto;
	background-color: #E8F1F6;
	width: 80%;
	margin-bottom: 20px;
	padding: 20px;
}

.fa-image {
	color: #B9C5CC;
	text-align: center;
	font-size: 4rem;
}

.icone {
	display: flex;
	justify-content: space-between;
}

.new-img {
	background-color: #CBD6DC;
	color: #306685;
	border: none;
	border-radius: 25px;
	margin: auto;
	width: 50%;
	height: 36px;
}

#modal2 .blue-rectangle {
	row-gap: 10px;
}

.blue-rectangle p {
	font-size: 10px;
	font-family: "Work Sans";
	text-align: center;
}
.form {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	width: 88%;
	margin: auto;
}

#title,
#category {
	border: none;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	height: 50px;
	width: 100%;
	row-gap: 10px;
}

#modal2 input[type="submit"] {
	background-color: #A7A7A7;
	width: 50%;
	height: 36px;
	border: none;
	display: flex;
	text-align: center;
	justify-content: center;
}

.input {
	position: relative;
}

.input i{ 
	position: absolute; 
	left: 350px; 
	top: 21px;
	font-size: 10px;
	color: #6C6C6C;
}

.imgAdded img {
	width: 129px;
	height: 193px;
	object-fit: cover;
}

.imgAdded {
	padding: 0;
	margin: auto;
}